name: nomina
channels:
  - conda-forge
  - defaults
dependencies:
  - pandas=2.2.3=py312h5da7b33_0
  - pyjanitor=0.30.0=pyhd8ed1ab_0
  - pynndescent=0.5.13=pyhd8ed1ab_1
  - python=3.12.3=h2628c8c_0_cpython
  - python-dateutil=2.9.0post0=py312haa95532_2
prefix: C:\Users\jfuentes\AppData\Local\miniconda3\envs\nomina


